.list-item-animation {
	transition: all 0.25s;
}

.list-animation-leave-to {
	opacity: 0;
	transform: translateX(-100px);
}
.list-animation-enter {
	opacity: 0;
	transform: translateY(-30px);
}
.form-check-input{
	display:none;
}
.displayTodo{
	display:inline-block!important;
}
.completed {
  text-decoration-line: line-through;
  opacity: 0.5;
  transition: all 0.25s ease;
}
